.generator {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: fit-content;
  z-index: -1;
}

.generator-content-header {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.generator-tabs  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap between elements as needed */
  margin-bottom: 30px;
}

.generator-card {
  max-width: 26rem;
  background-color: var(--accent);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* margin-bottom: 30px; */
  border: none;
  cursor: pointer;
}
.generator-card .generator-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
}
.generator-card .generator-card-header h4 {
  margin-top: 10px;
}
.generator-usage-tracker {
  background-color: var(--greenstone);
}
.generator-diagnostics {
  background-color: var(--purple);
}
.generator-event-logs {
  background-color: var(--orange)
}


/* MODAL */
.generator-event-logs-modal {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: fit-content;
  max-height: 60%;
  overflow: scroll;
  width: 70%;
  padding: 20px;

}

.modal-content {
  width: 100%;
}

.generator-event-logs-modal .modal-close-btn{
  margin-right: 20px;
}
.modal-header {
  margin-bottom: 20px;
  
}
.modal-footer {
  margin-top: 20px;
}


/* SPREADSHEET DYNAMIC CONTENT */
.spreadsheet-new-entry-input {
  width: 100%;
  height: 100%;
  border:  none;
  padding: 5px;
}
.new-entry-row {
  transition: all .3 ease-in;
}
.new-entry-row:hover {
  background-color: inherit !important;
}
.new-entry-row td {
  padding: 0;
}
.new-entry-controls{
  text-align: end;
}
.new-entry-controls:hover {
  background-color: #fff !important;
}

.new-entry-save-btn {
  width: 90px;
  margin-left: 20px;
}


/* delete row side bin */
.delete-row-side-bin {
  position: absolute;
  cursor: pointer;
}

.side-bin {
  color: red;
  font-size: 20px;
}