.header {
    position: fixed;
    height: fit-content;
    width: 100%;
    box-shadow: var(--bottom-shadow);
    background-color: #fff;
}

/* TOP PART OF THE NAVIGATION */
.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    width: 100%;
}
.nav-top h1.brand-name {
    color: var(--primary)
}
.nav-top .user-profile {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.nav-top .user-profile .nav-top-controls {
    font-size: 1.75rem;
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.nav-top .user-profile #user-profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.nav-top .user-profile .username {
    margin: 0 20px;
}
/* NAVIGATION BAR */
.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--primary);
}
.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li {
    list-style: none;
    width: 15%;
    text-align: center;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 25px;
}
.navbar .nav-link:hover {
    background-color: var(--accent);
}
.navbar .nav-item span {
    margin-left: 10px;
}
