.scroll-to-top-btn {
    position: fixed;
    z-index: 10;
    border-radius: 5px;
    font-size: 1.25rem;
    /* height: 60px;
    width: 60px; */
    bottom: 60px;
    right: 60px;
}
.scroll-to-top-btn.hidden {
    display: none;  
}
.scroll-to-top-icon {
    font-weight: bolder;
}